In [2]:
import wbgapi as wb
import pandas as pd
import os

In [3]:
wb.topic.Series() #listar todos os topicos presentes no World Bank

1     Agriculture & Rural Development
2                   Aid Effectiveness
3                    Economy & Growth
4                           Education
5                     Energy & Mining
6                         Environment
7                    Financial Sector
8                              Health
9                      Infrastructure
10          Social Protection & Labor
11                            Poverty
12                     Private Sector
13                      Public Sector
14               Science & Technology
15                 Social Development
16                  Urban Development
17                             Gender
18        Millenium development goals
19                     Climate Change
20                      External Debt
21                              Trade
Name: TopicName, dtype: object

In [4]:
topics = [{'id': '1',
  'value': 'Agriculture & Rural Development',
  'dir': 'acriculture_rural_development'},

  {'id': '3',
  'value': 'Economy & Growth',
  'dir': 'economy_growth'},

  {'id': '5',
  'value': 'Energy & Mining',
  'dir': 'energy_mining'},

 {'id': '6',
  'value': 'Environment',
  'dir': 'environment'},

  {'id': '19',
   'value': 'Climate Change',
   'dir': 'climate_change'}]

topics_df = pd.DataFrame(topics, columns=['id', 'value', 'dir'])
topics_df

   id                            value                            dir
0   1  Agriculture & Rural Development  acriculture_rural_development
1   3                 Economy & Growth                 economy_growth
2   5                  Energy & Mining                  energy_mining
3   6                      Environment                    environment
4  19                   Climate Change                 climate_change

member(1) - Agriculture & Rural Development	
- AG.LND.AGRI.ZS	Agricultural land (% of land area)
- AG.AGR.TRAC.NO	Agricultural machinery, tractors

memeber(3) - Economy & Growth
- NY.GDP.MKTP.KD.ZG	GDP growth (annual %)
- PA.NUS.PPP	PPP conversion factor, GDP

member(5) - Energy & Mining
- EG.USE.COMM.FO.ZS	Fossil fuel energy consumption
- EG.USE.COMM.CL.ZS	Alternative and nuclear energy (% of total energy use)

member(6) - Environment
- EG.CFT.ACCS.ZS	Access to clean fuels and technologies for cooking
- AG.LND.FRST.ZS	Forest area (% of land area)

member(19) - Climate Change
- EN.ATM.CO2E.PC	CO2 emissions (metric tons per capita) # label

In [31]:
wb.series.info(wb.topic.members(15))

id                      value
----------------------  -------------------------------------------------------------------------------------------------
SP.ADO.TFRT             Adolescent fertility rate (births per 1,000 women ages 15-19)
SL.TLF.0714.FE.ZS       Children in employment, female (% of female children ages 7-14)
SL.TLF.0714.MA.ZS       Children in employment, male (% of male children ages 7-14)
SL.TLF.0714.SW.ZS       Children in employment, study and work (% of children in employment, ages 7-14)
SL.TLF.0714.SW.FE.ZS    Children in employment, study and work, female (% of female children in employment, ages 7-14)
SL.TLF.0714.SW.MA.ZS    Children in employment, study and work, male (% of male children in employment, ages 7-14)
SL.TLF.0714.ZS          Children in employment, total (% of children ages 7-14)
SL.TLF.0714.WK.ZS       Children in employment, work only (% of children in employment, ages 7-14)
SL.TLF.0714.WK.FE.ZS    Children in employment, work only, female (% of female children in employment, ages 7-14)
SL.TLF.0714.WK.MA.ZS    Children in employment, work only, male (% of male children in employment, ages 7-14)
SL.TLF.ACTI.1524.FE.ZS  Labor force participation rate for ages 15-24, female (%) (modeled ILO estimate)
SL.TLF.ACTI.1524.MA.ZS  Labor force participation rate for ages 15-24, male (%) (modeled ILO estimate)
SL.TLF.ACTI.1524.ZS     Labor force participation rate for ages 15-24, total (%) (modeled ILO estimate)
SL.TLF.CACT.FE.ZS       Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
SL.TLF.ACTI.FE.ZS       Labor force participation rate, female (% of female population ages 15-64) (modeled ILO estimate)
SL.TLF.CACT.MA.ZS       Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)
SL.TLF.ACTI.MA.ZS       Labor force participation rate, male (% of male population ages 15-64) (modeled ILO estimate)
SL.TLF.ACTI.ZS          Labor force participation rate, total (% of total population ages 15-64) (modeled ILO estimate)
SP.DYN.LE00.FE.IN       Life expectancy at birth, female (years)
SP.DYN.LE00.MA.IN       Life expectancy at birth, male (years)
SE.ADT.1524.LT.FM.ZS    Literacy rate, youth (ages 15-24), gender parity index (GPI)
SH.HIV.1524.FE.ZS       Prevalence of HIV, female (% ages 15-24)
SH.HIV.1524.MA.ZS       Prevalence of HIV, male (% ages 15-24)
SG.GEN.PARL.ZS          Proportion of seats held by women in national parliaments (%)
SM.POP.REFG             Refugee population by country or territory of asylum
SM.POP.REFG.OR          Refugee population by country or territory of origin
SE.ENR.PRIM.FM.ZS       School enrollment, primary (gross), gender parity index (GPI)
SE.ENR.PRSC.FM.ZS       School enrollment, primary and secondary (gross), gender parity index (GPI)
SE.ENR.SECO.FM.ZS       School enrollment, secondary (gross), gender parity index (GPI)
SE.ENR.TERT.FM.ZS       School enrollment, tertiary (gross), gender parity index (GPI)
SL.UEM.TOTL.FE.ZS       Unemployment, female (% of female labor force) (modeled ILO estimate)
SL.UEM.TOTL.MA.ZS       Unemployment, male (% of male labor force) (modeled ILO estimate)
SL.EMP.VULN.FE.ZS       Vulnerable employment, female (% of female employment) (modeled ILO estimate)
SL.EMP.VULN.MA.ZS       Vulnerable employment, male (% of male employment) (modeled ILO estimate)
                        34 elements

In [27]:
wb.data.DataFrame('SP.ADO.TFRT', list(wb.economy.Series().index), time = range(1950,2024))

,YR1960,YR1961,YR1962,YR1963,YR1964,YR1965,YR1966,YR1967,YR1968,YR1969,...,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023
economy,,,,,,,,,,,,,,,,,,,,,
ABW,62.182000,61.589000,61.170000,59.658000,58.324000,56.291000,54.201000,51.574000,50.099000,48.378000,...,35.150000,28.989000,27.419000,24.888000,20.086000,18.906000,16.522000,14.154000,NaN,NaN
AFE,140.180526,140.810248,141.664168,142.324951,143.456933,144.331150,145.295946,145.871493,145.748064,148.012004,...,107.697715,105.501833,103.222825,100.963526,99.491703,99.085572,97.413585,96.181442,NaN,NaN
AFG,138.876000,138.717000,138.494000,138.173000,140.107000,140.935000,142.821000,143.154000,142.341000,141.280000,...,101.454000,97.415000,94.018000,90.342000,88.431000,86.803000,84.296000,82.565000,NaN,NaN
AFW,167.054250,170.748419,174.212286,175.665650,175.847602,175.467021,173.176493,170.984633,168.651907,170.327072,...,122.395532,117.728385,113.411758,110.863328,109.930971,108.778536,107.580169,106.548068,NaN,NaN
AGO,148.279000,150.275000,150.801000,153.002000,155.661000,156.336000,157.450000,157.249000,159.330000,162.021000,...,151.093000,148.074000,146.135000,145.235000,142.575000,141.278000,139.825000,138.402000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,81.772000,82.849000,82.555000,81.527000,80.337000,79.408000,79.620000,78.248000,77.229000,75.598000,...,11.236000,10.122000,9.221000,9.341000,8.847000,8.113000,8.187000,8.225000,NaN,NaN
YEM,142.832000,144.901000,146.197000,145.273000,145.403000,145.899000,145.271000,147.415000,140.728000,133.134000,...,67.098000,64.753000,62.113000,60.335000,58.900000,57.830000,56.160000,54.404000,NaN,NaN
ZAF,101.605000,101.186000,101.666000,101.630000,101.854000,101.095000,100.652000,99.738000,97.066000,95.852000,...,83.046000,78.367000,70.813000,63.706000,59.361000,64.982000,62.742000,61.206000,NaN,NaN
ZMB,184.021000,185.311000,186.542000,187.872000,188.592000,188.400000,188.125000,187.682000,189.128000,190.397000,...,130.447000,128.861000,129.067000,128.315000,124.849000,122.836000,119.009000,117.017000,NaN,NaN
ZWE,168.191000,167.318000,165.582000,163.887000,157.860000,151.588000,146.352000,144.172000,145.145000,147.909000,...,105.952000,102.084000,100.884000,98.265000,98.507000,97.354000,96.180000,94.312000,NaN,NaN

In [6]:

wb.data.DataFrame('NY.GDP.PCAP.PP.KD', list(wb.economy.Series().index), time = range(1990,2024))

,YR1990,YR1991,YR1992,YR1993,YR1994,YR1995,YR1996,YR1997,YR1998,YR1999,...,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023
economy,,,,,,,,,,,,,,,,,,,,,
ABW,32278.868539,33744.108798,34544.060647,35957.815973,37683.917709,37470.173867,36784.460791,38202.407752,37810.034823,37171.220427,...,36558.972837,36099.942636,36504.688731,38868.333923,39597.659876,38511.336876,29236.047264,37333.515685,41273.615055,NaN
AFE,3045.457644,2963.585471,2831.236489,2744.839315,2722.151263,2771.429569,2845.890397,2893.971060,2875.397677,2881.016602,...,3652.772991,3668.400279,3664.810708,3670.972022,3672.750831,3658.128493,3467.484700,3531.172747,3566.269439,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2144.449634,2108.714173,2101.422187,2096.093111,2060.698973,2079.921861,1968.341002,1516.273265,NaN,NaN
AFW,2790.264157,2752.715449,2745.707708,2646.355086,2576.747600,2563.405973,2614.006634,2656.292023,2678.386558,2651.371586,...,4148.495951,4152.506646,4060.345071,4054.572453,4068.321122,4096.827363,3960.847898,4016.874461,4066.483230,NaN
AGO,5793.084512,5659.119330,5158.383835,3799.194899,3728.886199,4149.445734,4557.147774,4728.292342,4790.418610,4739.509639,...,8183.164577,7966.885556,7487.925098,7216.061373,6878.590025,6602.269211,6029.691895,5911.835657,5906.115677,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8796.634130,9445.106933,10031.047430,10436.168846,10755.167537,11318.459007,10706.510925,11884.181374,12675.067928,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,10391.964137,10026.325862,9612.392874,9555.986762,9692.535766,9829.861949,10097.473441,10217.380210,10141.462587,10270.063513,...,13993.270144,13887.211216,13844.275963,13950.453476,13995.062900,13850.895147,12866.568986,13337.790130,13478.753857,NaN
ZMB,2290.039226,2232.837441,2141.504615,2232.710379,1991.185925,1999.356842,2071.708828,2096.294593,2034.897183,2074.453663,...,3375.941270,3365.379259,3384.268144,3395.479686,3425.948936,3372.358980,3183.650773,3287.420524,3365.873780,NaN
ZWE,2704.757299,2781.787843,2468.278257,2458.783255,2670.106615,2641.378271,2867.026043,2896.147308,2931.725144,2866.032886,...,2316.954536,2313.878553,2286.623549,2331.780833,2399.621551,2203.396809,1990.319419,2115.144555,2207.957033,NaN

In [ ]:
for item in list(wb.series.info(wb.topic.members(15)).items):
    print(item['id'], item['value'])
    df_save = wb.data.DataFrame(item['id'], list(wb.economy.Series().index), time = range(1950,2024))
    df_save.to_csv(f'data/{item["id"]}.csv')